/* 共通スタイル */
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", Yugothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */
.logo {
    border-radius: 50%;
    width: 100px;
    margin-top: 14px;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 28px;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOME */
.self {
    font-size: 50px;
    text-align: center;
}

.self-introduction {
    text-align: center;
    margin-top: 10%;
}

.self-introduction p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background: #0090aa;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}-->

#home .page-title {
    text-transform: none;
}

/* EXPERIENCE */
#experience {
    margin-top: 50px;
    text-align: center;
}

body {
		background-image:
			radial-gradient(290px 300px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(800px 780px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(1000px 990px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(400px 380px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(750px 750px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(100px 100px , rgba(123,222,217, 0.5) 20%, transparent 20%);
		background-size: 
			1230px 1280px,
			810px 910px,
			1470px 990px,
			1200px 1700px,
			1520px 1200px,
			1100px 1300px;
		background-position: 
			-300px -550px,
			-200px 100px,
			50px 510px,
			-200px -550px,
			-180px -250px,
			130px -150px;
}

#experience h2 {
    color: #0bd;
}

#experience p {
    font-size: 1.25rem;
}

/* QUALIFICATIONS */
#qualifications {
    margin-top: 50px;
    text-align: center;
}

#qualifications ul{
    padding-left: 0;
    list-style: none;
    display:inline-block;

}
#qualifications ul li{
    text-align: left;
}
#qualifications h2 {
    color: #0bd;
}

#qualifications ul {
    list-style: none;
    padding: 0;
}

#qualifications li {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

/* SKILLS */
#skills {
    margin-top: 50px;
    text-align: center;
}

#skills h2 {
    color: #0bd;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

/* HOBBY 
#hobby {
    background-image: url(../images/hobby-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#hobby .page-title{
    text-align: center;
}

#hobby h2 {
    color: #0bd;
}
*/

/* フッター */
footer {
    background: rgb(0, 0, 0);
    padding: 26px 0;
    text-align: center;
}
footer p{
    color: #ffffff;
    font-size: 0.875rem;
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(2, 100px); /* 各ボタンの幅を100pxに指定 */
    grid-gap: 10px;
    justify-content: center; /* ボタンを中央に配置 */
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px; /* 各ボタンの高さを100pxに指定 */
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.social-buttons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-buttons a:hover {
    transform: scale(1.1);
    cursor: pointer;
}