/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #aeeeff; /* 背景色を水色に設定 */
    margin: 0; /* body要素の余白を削除 */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* ビューポートの高さいっぱいに広げる */
}

.about {
    margin: 20px;
    text-align: center; /* 中央寄せ */
}

.photo img {
    border-radius: 50%; /* 写真を円形にするためのスタイル */
    width: 150px; /* 画像のサイズを調整 */
    height: 150px; /* 画像のサイズを調整 */
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.contacts {
    margin: 20px;
    text-align: center; /* 中央寄せ */
}

.navbar {
    display: none; /* ナビゲーションを非表示にする */
}
